.venv/
.vscode/

images/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log
*.sqlite3
*.db
*.dat
*.csv
*.pkl
*.h5
*.hdf5
*.ipynb_checkpoints/
*.coverage
.coverage.*
.cache/
*.pytest_cache/
*.mypy_cache/
*.hypothesis/
.vscode/
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
.vscode/*.code-workspace
.vscode/*.code-snippets
poetry.lock
html/

data/